<ion-header >
  <ion-toolbar >
    <ion-title class="ion-text-center">
      LECCIÓN DE COMPONENTES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

<div style="display: flex; justify-content: center; align-items: center; height: 100%; flex-direction: column; text-align: center;">
  
      <ion-avatar style="margin-bottom: 20px; width: 150px; height: 150px;">
        <img src="assets/icon/avatar1.png" />
        
      </ion-avatar>
      <ion-label>Ariana Armijos</ion-label>
  

     <!-- Componente ion-button -->
     <ion-button color="tertiary">
        Iniciar Sesión
     </ion-button> 
     

    <ion-button color="tertiary" fill="outline">
      Registrarte
    </ion-button>

</div>

</ion-content>
